.bg {
  height: 600px;
  width: 100%;
  background: url("/bg/evening_1000_750.jpg") center / cover;
}
.contacts_list {
  background-color: #b2adfa40;
  border-radius: 4px;
  width: 50%;
  margin: auto;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .contacts_list {
    width: 90%;
  }
}
