.menu {
  margin: 0;
  width: 100vw;
  position: fixed;
  background-color: #cacaca;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: spa;
  align-items: center;
}
.menu_list li {
  padding: 4px 24px;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 48px;
  }
  .menu {
    font-size: 20px;
    font-weight: 700;
  }
  .menu_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu_list li {
    padding: 4px 16px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 32px;
  }
  .menu {
    font-size: 16px;
    font-weight: 700;
  }
  .menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu_list li {
    padding: 4px 12px;
  }
}
@media screen and (max-width: 560px) {
  .menu {
    font-size: 16px;
    font-weight: 500;
  }
  .menu_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu_list li {
    padding: 4px 8px;
  }
}
@media screen and (max-width: 380px) {
  .menu {
    width: 380px;
  }
}
