.bg {
  height: fit-content;
  width: 100vw;
  background: url("/bg/mulberry_1717_1288.jpg") center / cover;
}

.art1 {
  width: 60%;
  padding: 8px;
  font-size: large;
  border: 1px solid blue;
  border-radius: 12px;
  background-color: #b2adfa;
}
.art2 {
  width: 60%;
  padding: 8px;
  margin-left: auto;
  font-size: large;
  border: 1px solid blue;
  border-radius: 12px;
  background-color: #b2adfa;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .art1,
  .art2 {
    width: 90%;
    margin: 4px auto;
    font-size: medium;
  }
}
